#include "../include/Resources.h"

1	ICON	"..\\resources\\cinder_app_icon.ico"

RES_FONT_PROXIMA_NOVA_OTF
RES_LEFT_HAND_FBX
RES_RIGHT_HAND_FBX
RES_HANDS_FRAG_GLSL
RES_HANDS_VERT_GLSL
RES_PASSTHROUGH_VERT_GLSL
RES_BLUR_FRAG_GLSL
RES_BLUR_VERT_GLSL
RES_DISTORTION_VERT_GLSL
RES_DISTORTION_FRAG_GLSL
RES_LIGHTING_VERT_GLSL
RES_LIGHTING_FRAG_GLSL
RES_UNDISTORTION_FRAG_GLSL
RES_WINTER_JPG
