#include "../include/Resources.h"

1	ICON	"..\\resources\\cinder_app_icon.ico"

RES_PASSTHROUGH_VERT_GLSL
RES_MATERIAL_VERT_GLSL
RES_MATERIAL_FRAG_GLSL
RES_SCREEN_FRAG_GLSL
RES_EDGES_FRAG_GLSL
RES_EDGES_VERT_GLSL
RES_VERTICES_FRAG_GLSL
RES_VERTICES_VERT_GLSL
RES_EDGE_FORCE_FRAG_GLSL
RES_EDGE_FORCE_VERT_GLSL
RES_INITIAL_POS_FRAG_GLSL
RES_INITIAL_POS_VERT_GLSL
RES_NBODY_FRAG_GLSL
RES_NBODY_VERT_GLSL
